<!DOCTYPE html>
<html>
<head>
    <title>To-Do Page</title>
</head>
<body>
    <h1>Create a To-Do Item</h1>
    <form action="/submittodoitem" method="POST">
        <label for="itemName">Item Name:</label><br>
        <input type="text" id="itemName" name="itemName" required><br><br>

        <label for="itemDescription">Item Description:</label><br>
        <textarea id="itemDescription" name="itemDescription" required></textarea><br><br>
        
        <label for="itemId">Item ID:</label>
        <input type="text" id="itemId" name="itemId" required><br><br> 

         <label for="itemUuid">Item UUID:</label>
         <input type="text" id="itemUuid" name="itemUuid" required><br><br>
         
         <label for="itemHash">Item Hash:</label>
         <input type="text" id="itemHash" name="itemHash" required><br><br>

         <button type="submit">Submit</button>
    </form>
</body>
</html>

